.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 20rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark-1;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark-1;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}

.middle{
  top: 50%;
  transform: translate(-9%,20%);
  width: 100%;
  text-align: center;
}
.btn-footer-icons{
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: $color-primary;
  overflow: hidden;
  position: relative;
}
.btn-footer-icons i{
  line-height: 65px;
  font-size: 2.6rem;
  transition: 0.2s linear;
}
.btn-footer-icons:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn-footer-icons::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: $color-primary;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn-footer-icons:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
