#navbar {
  background-image: linear-gradient(to right bottom ,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8));
  position: fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.4s; 
  z-index: 500;
  padding-right: 3rem;
}

#navbar a{
  float: left;
  display: block;
  color: $color-white;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  transition: all .4s;
}

#navbar a:hover {
  border-radius: 3px;
  background-color: $color-primary-dark;
  color: $color-white;
  transform: translateY(1rem) scale(1.2);
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
}
.navbar{
  &__items{
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    margin-left: 2rem;
  }

  &__items-right{
    float: right;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
  }
}