@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  80% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 5.7rem 3rem; }

body {
  font-family: "Lato" , sans-serif;
  font-weight: 480;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #55c57a; }

.heading-primary {
  color: #55c57a;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3; 
        */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .7rem;
    animation: moveInRight 1s ease-out; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 14rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  height: 90vh;
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../../img/helenalopes.jpg); }
  .header__overlay-box {
    position: absolute;
    top: 0rem;
    left: 0; }
  .header__overlay {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-45%, -50%);
    text-align: center; }

#navbar {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s;
  z-index: 500;
  padding-right: 3rem; }

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  transition: all .1s; }

#navbar a:hover {
  background-color: #28b485;
  color: #fff; }

.navbar__items {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10vh; }
