@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }

    80%{
        transform: translateX(-10rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}