@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }

    80%{
        transform: translateX(-10rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}