body{
    font-family: "Lato" , sans-serif;
    font-weight: 480;
    /*font-size: 16px;*/
    line-height: 1.7;
    color:$color-primary;
}

.heading-primary{
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main{
        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        /*
        animation-delay: 3s;
        animation-iteration-count: 3; 
        */
        animation-timing-function: ease-out;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .7rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1rem;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}
