.section-about{
    background-color: $color-grey-light-2;
    padding:25rem 0; 
    margin-top: -22vh;
    
    @include respond(tab-port) {
        padding: 15rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-booking{
    background-image: linear-gradient(to right bottom ,
                        rgba($color-primary-light, 0.8),
                        rgba($color-primary-dark, 0.8)),
                        url(../img/helenalopes.jpg);
    background-size: cover;                    
    padding:30rem 0; 
    margin-top: -18rem;
    -webkit-clip-path: polygon(0 15vh,100% 0,100% 100% ,0 100%);
    clip-path: polygon(0 15vh,100% 0,100% 100% ,0 100%);
}

.section__stories{
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 20rem 0 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 50%,
                    transparent 50%) ,
                    url(../img/helenalopes.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}

.collapsible {
  background-color:$color-tertiary-light;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2rem;
  margin-left: 4rem;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: $greater-font-size;
  border-radius: 5px;
}

.active, .collapsible:hover {
  background-color:$color-tertiary-dark;
  border-bottom: 5px solid $color-secondary-light;
  border-left: 5px solid $color-secondary-light;
}

.collapsible:after {
  content: '\002B';
  color:$color-tertiary-dark;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
    margin-left: 4rem;
    width: 90%;
    padding: 0 2rem;
    font-size: $default-font-size;
    text-transform: uppercase;
    padding-left: 5rem;
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;
    background-color:$color-white;
}