.section-about{
    background-color: $color-grey-light-2;
    padding:25rem 0; 
    margin-top: -22vh;
    
    @include respond(tab-port) {
        padding: 15rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-dropdown{
    background-image: linear-gradient(to right bottom ,
                        rgba($color-primary-light, 0.8),
                        rgba($color-primary-dark, 0.8)),
                        url(../img/helenalopes.jpg);
    background-size: cover;                    
    padding:30rem 0; 
    margin-top: -18rem;
    clip-path: polygon(0 15vh,100% 0,100% 100% ,0 100%);

    & > *{
        transform: skewY(5deg);
    }

}

.section__stories{
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 20rem 0 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 50%,
                    transparent 50%) ,
                    url(../img/helenalopes.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}